<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Template Greeting</title>
</head>
<body>
    <h1>My cool template</h1>
    <h3>Greeting</h3>
    <p th:text="${greeting}">Message</p>
</body>
</html>