<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Person form</h1>
    <form method="post"
          th:action="@{/person/create}"
          th:object="${person}">
        <div class="form-group">
            <label for="name">Name: </label>
            <input id="name"
                   class="form-control"
                   type="text"
                   th:field="*{name}"/>
        </div>
        <div class="form-group">
            <label for="surname">Surname: </label>
            <input id="surname"
                   class="form-control"
                   type="text"
                   th:field="*{surname}"/>
        </div>
        <div class="form-group">
            <label for="birthYear">Birth Year:</label>
            <input id="birthYear"
                   class="form-control"
                   type="number"
                   th:field="*{birthYear}">
        </div>
        <button class="btn btn-primary"
                type="submit">Send</button>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../static/js/jquery-3.2.1.slim.min.js"
        th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
<script src="../../static/js/popper.min.js"
        th:src="@{/js/popper.min.js}"></script>
<script src="../../static/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>