<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Persons List</h1>

    <div class="alert alert-success"
         role="alert"
         th:if="${created}">
        New person created!
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="person : ${persons}">
                <th scope="row"
                    th:text="${personStat.count}">1</th>
                <td th:text="${person.name}"> Pepa</td>
                <td th:utext="${person.surname}">Novak</td>
                <td th:text="${person.birthYear}">25</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary btn-lg active"
       role="button"
       aria-pressed="true"
       th:href="@{/person/form}">Add Person</a>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../static/js/jquery-3.2.1.slim.min.js"
            th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script src="../../static/js/popper.min.js"
            th:src="@{/js/popper.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>